.header{
    display: flex;
    justify-content: space-between;
    
    padding-left: 5vw;
    padding-right: 5vw;
    background-image: linear-gradient(45deg, #0891b2, #22d3ee);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.title{

}

.scoreBoxes{
    display: flex;
    align-items: center;
    gap: 5vw;
}

.score, .hiscore{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px solid black;
    width: 8vw;
    height: 8vw;
    font-size: 2vw;
}